ExplorationNode/rock_scissor_paper_data
environment.yml
.idea/inspectionProfiles
.idea
ExplorationNode/E1_rock_scissor_paper/rock_scissor_paper_data
ExplorationNode/E3_camera_sticker/shape_predictor_68_face_landmarks.dat
*.h5
ExplorationNode/E4_Imdb/mecab-ko-dic-2.1.1-20180720
ExplorationNode/E4_Imdb/mecab-0.996-ko-0.9.2
ExplorationNode/E4_Imdb/ko
*.bin
ExplorationNode/E4_Imdb/ratings_test.txt
ExplorationNode/E4_Imdb/ratings_train.txt
ExplorationNode/E4_Imdb/word2vec.txt
ExplorationNode/E5_speech_recognition/data/speech_wav_8000.npz
ExplorationNode/E5_speech_recognition/models
ExplorationNode/E7_FaceNet/images
ExplorationNode/E7_FaceNet/korean

ExplorationNode/E6_RNN_Composer/data
ExplorationNode/E8_Recommended/data
Kaggle/FutureSales/data
ExplorationNode/E10_PortraitMode/model
ExplorationNode/E9_Kaggle/data
